
.buzzy-indicator{
  position: fixed;
  text-align: center;
  z-index: 2; 
  text-shadow: 0px 0px 15px lightblue;
  left: calc(50vw - 170px);
  top:  calc(50vh - 35px);
}

#main-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
}

#main-table td, #main-table th {
  border: 1px solid #ddd;
  padding: 0px;
  min-width: 60px;
  vertical-align: middle;
  text-align: center;
}

#main-table td > input[type=text] {
  width: 100%;
  padding: 1px;
}

#main-table td > input[type=checkbox] {
  width: 14px;
  height: 14px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 5px;
}

.pushBtn {
  padding: 0px;
  border: 2px solid #5c5c5c;
  border-radius: 3px;
}

.pushBtn:hover  {
  background-color: rgb(150, 170, 150);
}

.pushBtn:active  {
  background-color: rgb(155, 155, 155);
}

#main-table th {
  position: sticky;
  top: 0;
  padding: 5px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

#main-table th div {
  resize: horizontal;
  min-width: 60px;
  overflow: hidden;
}

.found {
  background-color : #98ecb8; 
}

.notfound {
  background-color : #eca998; 
}

.selBtn:hover  {
  background-color: rgb(101, 184, 112);
}

.selBtn:active  {
    background-color: rgb(0, 95, 13);
}